@import url('https://fonts.cdnfonts.com/css/grandiflora-one');

@font-face {
    font-family: 'Nesca';
    src: url('../fonts/NeueHaasUnicaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Klein';
    src: url('../fonts/Klein-ExtraLight-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Nesca';
    src: url('../fonts/NeueHaasUnicaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.discard{
    width: 320px;
    height: 420px;
}
.card{
    margin-top: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.card:hover{
    cursor: pointer;
}
.text-font{
    font-family: 'Nesca';
    margin-top: 0px;
}

.font-price{
    font-family: 'Grandiflora One', sans-serif;
}

.card-position{
    gap: 20px;
    padding: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
   
}

.flex{
    display: flex;
    justify-content: space-between;
}

.price-container{
    font-family: 'Nesca';
    margin-top:10px;
    margin-bottom: 20px;
}
