@font-face {
    font-family: 'Klein';
    src: url('../fonts/Klein-ExtraLight-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Louis';
    src: url('../fonts/Intrepid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Nesca';
    src: url('../fonts/NeueHaasUnicaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.end{
  /* background-color: aqua; */
  width: 100%;
  font-size: 20px;
  justify-content: flex-end;
}

.navbar{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* font-weight: bolder; */
    font-family: 'Klein';
}

.title-text{
  /* background-color: bisque; */
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    font-size: 70px;
    font-family: 'Louis';
    width: 54%;
    font-size: 30px;
    
}

.login-text {
  width: 30%;
  /* background-color: aqua; */
  display: flex;
  /* justify-content: flex-end;
  align-items: center; */
}


.login-text ul{
  margin-top: 30px;
  /* background-color: aquamarine; */
  display: flex;
  width: 100%;
  font-size: 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
  font-family: 'Nesca';
}
.login-text ul :hover{
cursor: pointer;
}



.list{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.list ul{
    margin-top: 20px;
    display: flex;
    gap: 70px;
    
    
}
.list ul li {
    position: relative; /* Required for positioning the ::after element */
  }
  
.list ul li:hover {
    cursor: pointer;
}

.list ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: black;
    bottom: -2px; /* Adjust this value based on your line height */
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  .list ul li:hover::after {
    transform: scaleX(1);
  }

.size{
    color: rgb(0, 0, 0);
    height: 80px;
    /* display: flex; */
    justify-content: center;
}

.titText1{
  font-size: 25px;
  display: flex;
  width: 53.5%;
  justify-content: flex-end;
  align-items: center;
 padding-top: 30px;
 font-weight:950;  
}

.navbar1{
  width: 100%;
  /* margin-left: auto;
  margin-right: auto;
   */
   /* background-color: aquamarine; */
  justify-content: center;
  align-items: center;
  height: 100px;
  /* font-weight: bolder; */
  font-family: 'Klein';
}

.flex1{
  display: flex;
  justify-content: space-between;
}
.flex2{
  display: flex;
  justify-content: space-between;
}


.login-text1 {
  width: 10%;
  /* background-color: aqua; */
  display: flex;
  /* justify-content: flex-end;
  align-items: center; */
  
}


.login-text1 ul{
  margin-top: 30px;
  /* background-color: aquamarine; */
  display: flex;
  width: 30%;
  font-size: 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
  font-family: 'Nesca';
}
.login-text1 ul :hover{
cursor: pointer;
}


.hidden{
  visibility: hidden;
}

.light-border{
  border-bottom: 0.1px solid rgb(228, 228, 228);
}